@font-face {
    font-family: "custom";
    src: url("assets/Windows Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "custom";
}

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.goal {
    position: relative;
    height: 12.5vh;
}

.goal-bg {
    position: absolute;
    image-rendering: pixelated;
    width: 100vw;
}

.goal-icon {
    position: absolute;
    width: 10.5vw;
    margin-top: 1vw;
    margin-left: 1vw;
}

.goal-info {
    position: absolute;
    width: 88vw;
    height: 10vh;
    margin-left: 12vw;
}

.goal-info > h1 {
    margin-top: 0vh;
    font-size: 5vh;
    color: #fff;
    /* -webkit-text-stroke: 0.25vh #000; */
}

.goal-info > p {
    margin-top: -1vh;
    font-size: 3.5vh;
    color: #fff;
    /* -webkit-text-stroke: 0.25vh #000; */
    line-height: 3vh;
}